@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
li,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.svg-background {
  height: 100vh;
  background-image: url("/authBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 999 !important;
}

.hero-overlay {
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    rgba(44, 83, 100, 0.4),
    rgba(32, 58, 67, 0.4),
    rgba(15, 32, 39, 0.4)
  );
}
